/*welcome*/

.welcome {
  width: 100%;
  align-items: center;  
  text-align: left;
  margin-bottom: 5rem;
}

.welcome-image{
max-width: 400px;
border-radius: 90%;
border-style: solid;
border-color: white;
margin-bottom: 2rem;
}

.main-message-container{
  width: 100%;
  height: 80vh;
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
}

.main-message {
  width: 100%;
  max-width: 50rem;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  margin: auto;
}

.main-message h3 {
  font-size: 1.6rem;
  font-weight: 300;
}
.main-message h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: bold;
}

.main-message p {
  text-transform: lowercase;
  margin-top: 1rem;
}

.cta{
  margin-top: 1rem;
}


